<a href="https://colab.research.google.com/github/yacine-yefsah/startupsdata/blob/main/startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importer les bibliothéque

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importer le fichier Excel

In [23]:
startups = pd.read_excel("startup-expansion.xlsx")
startups

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
0,1,Peoria,Arizona,Region 2,Old,2601,48610
1,2,Midland,Texas,Region 2,Old,2727,45689
2,3,Spokane,Washington,Region 2,Old,2768,49554
3,4,Denton,Texas,Region 2,Old,2759,38284
4,5,Overland Park,Kansas,Region 2,Old,2869,59887
...,...,...,...,...,...,...,...
145,146,Paterson,New Jersey,Region 1,New,2251,34603
146,147,Brownsville,Texas,Region 2,New,3675,63148
147,148,Rockford,Illinois,Region 1,New,2648,43377
148,149,College Station,Texas,Region 2,New,2994,22457
149,150,Thousand Oaks,California,Region 2,New,2431,40141

# Quelques informations importantes sur les données de mon fichier

In [24]:
startups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store ID         150 non-null    int64
 1   City             150 non-null    object
 2   State            150 non-null    object
 3   Sales Region     150 non-null    object
 4   New Expansion    150 non-null    object
 5   Marketing Spend  150 non-null    int64
 6   Revenue          150 non-null    int64
dtypes: int64(3), object(4)
memory usage: 8.3+ KB

In [25]:
startups[["Marketing Spend","Revenue"]].describe().round(2)

       Marketing Spend   Revenue
count           150.00    150.00
mean           2893.15  39301.43
std             367.86  15465.75
min            1811.00  15562.00
25%            2662.25  21113.50
50%            2898.00  42993.00
75%            3111.50  51145.50
max            3984.00  68828.00

# Nettoyer les données si nécesssaire

In [34]:
startups["City"].unique()

array(['Peoria', 'Midland', 'Spokane', 'Denton', 'Overland Park',
       'Yonkers', 'Birmingham', 'Antioch', 'Worcester', 'Rochester',
       'Rialto', 'Santa Maria', 'Las Cruces', 'Jackson', 'Hillsboro',
       'Temecula', 'Tallahassee', 'Fontana', 'Kent', 'Broken Arrow',
       'Concord', 'Modesto', 'Montgomery', 'Burbank', 'Elk Grove',
       'Port St. Lucie', 'Elizabeth', 'Salt Lake City', 'Waco', 'Edison',
       'Boulder', 'Grand Rapids', 'Tyler', 'Charleston', 'Huntsville',
       'Pearland', 'Inglewood', 'Oxnard', 'Miramar', 'Cape Coral',
       'Syracuse', 'Newport News', 'Lewisville', 'Carrollton',
       'San Bernardino', 'Pasadena', 'Roseville', 'Murrieta',
       'San Angelo', 'Olathe', 'Akron', 'Fullerton', 'Manchester',
       'Everett', 'West Covina', 'Thornton', 'Hampton', 'Waterbury',
       'Ventura', 'Davenport', 'Columbia', 'Simi Valley', 'Richmond',
       'Little Rock', 'El Cajon', 'Santa Clara', 'Oceanside', 'Davie',
       'Lakeland', 'Centennial', 'Lowell', 'Ontario', 'Palm Bay',
       'Murfreesboro', 'Vancouver', 'Topeka', 'West Valley City',
       'New Haven', 'Pueblo', 'Costa Mesa', 'Garden Grove',
       'Fort Lauderdale', 'North Charleston', 'Cambridge', 'Greeley',
       'Gresham', 'Amarillo', 'High Point', 'Vista', 'Tacoma', 'Mesquite',
       'Augusta', 'Elgin', 'Aurora', 'Gainesville', 'Dayton',
       'Wichita Falls', 'Naperville', 'Clovis', 'Billings', 'Surprise',
       'Coral Springs', 'Visalia', 'Killeen', 'Orange', 'Richardson',
       'South Bend', 'Fayetteville', 'Sioux Falls', 'Grand Prairie',
       'Stamford', 'West Palm Beach', 'Knoxville', 'Renton', 'McAllen',
       'Woodbridge', 'Shreveport', 'Bellevue', 'Huntington Beach',
       'Santa Clarita', 'Sterling Heights', 'Mobile', 'Bridgeport',
       'Daly City', 'Sandy Springs', 'Cedar Rapids', 'Columbus',
       'Moreno Valley', 'Pompano Beach', 'Savannah', 'West Jordan',
       'Des Moines', 'Green Bay', 'Santa Rosa', 'San Mateo', 'Warren',
       'Norwalk', 'Lafayette', 'Providence', 'Chattanooga', 'Tempe',
       'Joliet', 'Rancho Cucamonga', 'Glendale', 'Paterson',
       'Brownsville', 'Rockford', 'College Station', 'Thousand Oaks'],
      dtype=object)

In [36]:
startups["City"].value_counts()

City
Rochester        2
Killeen          1
Wichita Falls    1
Naperville       1
Clovis           1
                ..
Akron            1
Fullerton        1
Manchester       1
Everett          1
Thousand Oaks    1
Name: count, Length: 149, dtype: int64

In [37]:
startups["City"].nunique()

149

In [21]:
#On voit que seulement la ville "Rochester" qui se répete 2

In [30]:
startups[startups["City"]=="Rochester"]

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
9,10,Rochester,New York,Region 1,Old,2984,64906
124,125,Rochester,Minnesota,Region 1,Old,2854,18099

In [31]:
#"Rochester n'est pas un doublon"

In [38]:
startups["State"].unique()

array(['Arizona', 'Texas', 'Washington', 'Kansas', 'New York', 'Alabama',
       'California', 'Massachusetts', 'New Mexico', 'Mississippi',
       'Oregon', 'Florida', 'Oklahoma', 'New Jersey', 'Utah', 'Colorado',
       'Michigan', 'South Carolina', 'Virginia', 'Ohio', 'New Hampshire',
       'Connecticut', 'Iowa', 'Arkansas', 'Tennessee', 'North Carolina',
       'Georgia', 'Illinois', 'Montana', 'Indiana', 'South Dakota',
       'Louisiana', 'Minnesota', 'Wisconsin', 'Rhode Island'],
      dtype=object)

In [40]:
startups["State"].value_counts()

State
California        40
Texas             17
Florida           12
Washington         7
Colorado           5
Illinois           5
Georgia            4
Alabama            4
Connecticut        4
New Jersey         4
Arizona            3
Tennessee          3
Iowa               3
Michigan           3
South Carolina     3
Utah               3
Massachusetts      3
Kansas             3
New York           3
Louisiana          2
North Carolina     2
Ohio               2
Virginia           2
Oregon             2
Mississippi        1
New Mexico         1
Arkansas           1
New Hampshire      1
Oklahoma           1
Montana            1
Indiana            1
South Dakota       1
Minnesota          1
Wisconsin          1
Rhode Island       1
Name: count, dtype: int64

In [42]:
startups["State"].nunique()

35

In [43]:
startups["Sales Region"].value_counts()

Sales Region
Region 2    86
Region 1    64
Name: count, dtype: int64

In [44]:
startups["New Expansion"].value_counts()

New Expansion
Old    140
New     10
Name: count, dtype: int64

In [45]:
#Aprés vérification on constate que les donnée sont bien propres rien a nettoyer
#Pour etre sur on fait un test pour les valeurs 'NAN' et voir si y'en des lignes dupliquer

In [46]:
startups.isna().sum()

Store ID           0
City               0
State              0
Sales Region       0
New Expansion      0
Marketing Spend    0
Revenue            0
dtype: int64

In [49]:
startups.duplicated().sum()

0

# Explorer et nettoyer les données

In [50]:
startups.sample(10)

,Store ID,City,State,Sales Region,New Expansion,Marketing Spend,Revenue
54,55,West Covina,California,Region 2,Old,2939,21824
125,126,Sandy Springs,Georgia,Region 1,Old,2759,18942
90,91,Mesquite,Texas,Region 2,Old,3072,40779
99,100,Billings,Montana,Region 1,Old,3015,20541
82,83,North Charleston,South Carolina,Region 1,Old,3115,18754
45,46,Pasadena,California,Region 2,Old,2790,48254
67,68,Davie,Florida,Region 1,Old,3177,45418
136,137,Warren,Michigan,Region 1,Old,2736,47262
41,42,Newport News,Virginia,Region 1,Old,2758,57625
100,101,Surprise,Arizona,Region 2,Old,2160,33647